# xcode noise
build/
*.pyc
*~.nib/
*.pbxuser
*.perspective
*.perspectivev3
*.xcuserstate
*.xccheckout
project.xcworkspace/
xcuserdata/

# Place to put output file from scripts once you're done with them
scripts/junk

# old skool
.svn

# osx noise
.DS_Store
profile

xcodebuild
Carthage/

# Decompressed versions of our bundled frameworks
SeeScoreLib.framework

# vi temp files
*~
