# These are locked to specific releases for Xcode/swift compatibility, as well as 
# compatibility with the current SeeScore library. 
# It will be necessary to upgrade to newer versions to match 
# the current Xcode environment when upgrading Xcode and/or SeeScore.
github "audiokit/AudioKit" == 4.9.5
github "SwiftyJSON/SwiftyJSON" == 5.0.0
github "bizz84/SwiftyStoreKit" == 0.15.1
github "algolia/algoliasearch-client-swift" ~> 7.0.0

binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseFirestoreBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAuthBinary.json"