# These are locked to specific releases for Xcode/swift compatibility. At the
# moment there is nothing special about these particular versions; they worked 
# best for my current Swift/Xcode versions. (Current versions would not compile.)
# It will probably be necessary to upgrade to newer versions to match 
# the current Xcode environment.
github "audiokit/AudioKit" == 4.5.3
github "SwiftyJSON/SwiftyJSON"
github "bizz84/SwiftyStoreKit"